
<div class="row">
	<div class="col-lg-6 col-lg-offset-3">

	<div class="page-header">
		<h1>Edit Image <%= @image.id %></h1>
	</div>
		<%= bootstrap_form_for(@image, layout: :horizontal) do |f| %>
		  <%= f.static_control :ark %>
		<% end %>
		<%= render 'form' %>
	</div>
</div>